<!-- Author: Eryk Kulikowski @ KU Leuven (2023). Apache 2.0 License -->
<div class="row justify-content-between align-items-center sticky-menu">
  <div class="col-auto">
    <button type="button" class="btn btn-sm btn-secondary" (click)="back()">
      <i class="pi pi-angle-double-left"></i>Return
    </button>
  </div>
  <div class="col text-center">
    <h2 class="page-title m-0">Select metadata actions</h2>
  </div>
  <div class="col-auto">
    <button
      type="button"
      class="btn btn-sm btn-primary"
      (click)="submit()"
      title="Confirm metadata selection"
    >
      Confirm metadata selection<i class="pi pi-angle-double-right"></i>
    </button>
  </div>
</div>

<br />

<div class="file-list-header">
  <i [class]="icon_copy"></i> Metadata that will be copied
</div>
<div class="treetable-cell">
  <app-tree-table #tt [nodes]="rootNodeChildren()" columns="2fr 2fr 1fr 4rem">
    <ng-template appTreeTableHeader>
      <div class="tt-cell">Metadata field</div>
      <div class="tt-cell">Value</div>
      <div class="tt-cell">Metadata source</div>
      <div class="tt-cell text-end">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="toggleAction()"
        >
          <i [class]="action()"></i>
        </button>
      </div>
    </ng-template>
    <ng-template appTreeTableRow let-node let-level="level">
      <div
        app-metadatafield
        #metadataRow="appMetadatafield"
        class="tt-row"
        role="row"
        [field]="node.data"
        [node]="node"
        [level]="level"
        [rowNodeMap]="rowNodeMap()"
        [refreshTrigger]="refreshTrigger()"
        [style]="metadataRow.hostStyle()"
        (toggle)="tt.toggle(node)"
        (changed)="onRowActionChanged()"
      ></div>
    </ng-template>
  </app-tree-table>
</div>
