<!-- Author: Eryk Kulikowski @ KU Leuven (2024). Apache 2.0 License -->

<!-- Guest/Login choice popup -->
<p-dialog
  header="Access Options"
  [modal]="true"
  [(visible)]="showGuestLoginPopup"
  [closable]="false"
>
  <p class="m-0">
    You are not logged in. You can continue as a guest to download publicly
    accessible files, or log in to access restricted files.
  </p>
  <ng-template pTemplate="footer">
    <p-button
      (click)="continueAsGuest()"
      styleClass="p-button-sm p-button-raised p-button-secondary"
      >Continue as guest</p-button
    >
    <p-button
      (click)="redirectToLogin()"
      styleClass="p-button-sm p-button-raised p-button-primary"
      [disabled]="!getLoginRedirectUrl()"
      >Log in</p-button
    >
  </ng-template>
</p-dialog>

<div class="row justify-content-between align-items-center sticky-menu">
  <div class="col-auto">
    <button
      pButton
      type="button"
      class="p-button-sm p-button-raised p-button-secondary"
      (click)="back()"
    >
      <i class="pi pi-angle-double-left"></i>&nbsp;Home
    </button>
  </div>
  <div class="col-auto" [hidden]="!showDVToken()">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Token:&nbsp;</span>
      </div>
      <input
        type="password"
        class="form-control"
        id="dataverseToken"
        placeholder="Dataverse API token"
        [(ngModel)]="dataverseToken"
        #ctrl="ngModel"
        (onChange)="onUserChange()"
      />
    </div>
  </div>
  <div class="col text-center">
    <h2 class="page-title m-0">Download to Globus endpoint</h2>
  </div>
  <div class="col-auto d-flex" style="gap: 0.5rem">
    <button
      pButton
      type="button"
      [attr.hidden]="!done ? null : ''"
      class="p-button-sm p-button-raised p-button-primary"
      [disabled]="downloadDisabled()"
      (click)="download()"
    >
      Start transfer&nbsp;<i class="pi pi-angle-double-right"></i>
    </button>
    <button
      pButton
      type="button"
      [attr.hidden]="done ? null : ''"
      class="p-button-sm p-button-raised p-button-primary"
      (click)="goToDataset()"
    >
      Go to dataset&nbsp;<i class="pi pi-angle-double-right"></i>
    </button>
  </div>
</div>

<br />

<div class="mb-3">
  <label for="datasetId" class="form-label">Dataset DOI</label>
  <p-select
    appendTo="body"
    autoWidth="false"
    [style]="{ width: '100%' }"
    [editable]="datasetFieldEditable()"
    id="datasetId"
    [options]="doiItems"
    [filter]="true"
    filterBy="label"
    [resetFilterOnHide]="true"
    (onFilter)="onDatasetSearch($event.filter)"
    [(ngModel)]="datasetId"
    (onClick)="getDoiOptions()"
    (onChange)="onDatasetChange()"
  ></p-select>
</div>

<app-transfer-progress-card
  [isGlobus]="true"
  [taskId]="lastTransferTaskId"
  [monitorUrl]="globusMonitorUrl"
  [oauthSessionId]="token"
  [submitting]="downloadInProgress && !lastTransferTaskId"
  (pollingChange)="onStatusPollingChange($event)"
  (completed)="done = true"
></app-transfer-progress-card>

<br />
@if (datasetId && data?.id) {
  <div style="height: 100% - 2rem; overflow: hidden">
    <div style="float: left; width: 50%">
      <p-treeTable
        [value]="rootNodeChildren"
        [loading]="loading"
        loadingIcon=" pi pi-spin pi-spinner"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: left">
              <a [href]="data!.url" target="_blank">{{ data!.id }}</a>
            </th>
            <th class="icon_col" style="text-align: right">
              <button
                pButton
                label=""
                type="button"
                class="p-button-sm p-button-outlined p-button-secondary"
                (click)="toggleAction()"
              >
                <i [class]="action()"></i>
              </button>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr
            app-downloadablefile
            #downloadRow="appDownloadablefile"
            [datafile]="rowData"
            [rowNodeMap]="rowNodeMap"
            [rowNode]="rowNode"
            [style]="downloadRow.getStyle()"
          ></tr
        ></ng-template>
      </p-treeTable>
    </div>
    <div style="float: right; width: 50%">
      <div style="margin: 0.2rem; padding-left: 2rem">
        <div class="mb-3">
          <label for="repoNameSearch" class="form-label">{{
            getRepoNameFieldName()
          }}</label>
          <p-select
            appendTo="body"
            [editable]="repoNameFieldEditable()"
            id="repoNameSearch"
            [options]="repoNames"
            [(ngModel)]="foundRepoName"
            [placeholder]="getRepoNamePlaceholder()"
            [filter]="true"
            filterBy="label"
            [resetFilterOnHide]="true"
            (onFilter)="onRepoNameSearch($event.filter)"
            (onClick)="startRepoSearch()"
            (onChange)="onRepoChange()"
          ></p-select>
        </div>
        <div class="mb-3">
          <label for="repoBranchTree" class="form-label">{{
            getOptionFieldName()
          }}</label
          ><br />
          <p-tree
            selectionMode="single"
            [selection]="selectedOption"
            [value]="rootOptions"
            (onNodeExpand)="getOptions($event.node)"
            [loading]="optionsLoading"
            loadingIcon=" pi pi-spin pi-spinner"
            (onNodeSelect)="optionSelected($event.node)"
          ></p-tree>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="mb-4 mt-4 text-center">
    <p class="text-muted">
      <i class="pi pi-info-circle"></i>
      Please select a dataset from the dropdown above to view downloadable
      files.
    </p>
  </div>
}
