<div class="row justify-content-between sticky-menu">
  <span class="col-auto"></span>
  
  <span class="col-auto">
    <button style="float: right;" pButton pRipple type="button" class="p-button-sm p-button-outlined p-button-secondary" (click)="connect()">Connect and compare&nbsp;<i class="pi pi-angle-double-right"></i></button>
  </span>
</div>

  <br/>

  <p-accordion>
    <p-accordionTab header="Data/code source" [selected]="true">
      <div>
        <div class="mb-3">
          <label for="repoType" class="form-label">Repository type</label><br/>
          <p-dropdown id="repoType" [options]="repoTypes" [(ngModel)]="repoType" placeholder="Select the source" (onChange)="changeRepo()"></p-dropdown>
        </div>
        <div class="mb-3">
          <label for="repoToken" class="form-label">Token</label>
          <input type="password" class="form-control" id="repoToken" placeholder="Repository API token" [(ngModel)]="repoToken" #ctrl="ngModel">
        </div>
        <div class="mb-3">
          <label for="baseUrl" class="form-label">Source URL</label>
          <input type="text" class="form-control" id="baseUrl" placeholder="Source URL" [(ngModel)]="baseUrl" #ctrl="ngModel">
        </div>
        <div class="mb-3">
          <label for="repoBranch" class="form-label">Branch</label><br/>
          <p-dropdown id="repoBranch" [options]="branchItems" [(ngModel)]="repoBranch" [editable]="true" placeholder="Select branch or provide hash reference" (onClick)="getBranchOptions()">
            <ng-template pTemplate="loader" let-options="options">
                <div class="flex align-items-center py-2 px-3" style="height: 38px">
                    <p-skeleton [width]="options.even ? '60%' : '50%'" height="1rem"></p-skeleton>
                </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Dataverse">
      <div>
        <div class="mb-3">
          <label for="dataverseToken" class="form-label">Token</label>
          <input type="password" class="form-control" id="dataverseToken" placeholder="Dataverse API token" [(ngModel)]="dataverseToken" #ctrl="ngModel" (change)="onUserChange()">
        </div>
        <div class="mb-3">
          <label for="datasetId" class="form-label">Dataset DOI</label>
          <div class="input-group">
            <p-dropdown [style.width]="doiDropdownWidth" id="datasetId" [options]="doiItems" [(ngModel)]="datasetId" placeholder="Select dataset" (onClick)="getDoiOptions()"></p-dropdown>
            <div class="input-group-append">
              <!--button pButton pRipple type="button" class="p-button-sm p-button-outlined p-button-secondary" (click)="newDataset()" [attr.disabled]="creatingNewDataset ? '' : null">Create new dataset</button-->
              <button [style.width]="'12rem'" pButton pRipple type="button" class="p-button p-button-outlined p-button-secondary" (click)="newDataset()" title="https://github.com/IQSS/dataverse/pull/8940" disabled>Create new dataset</button>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
