.redcap2-export {
  .card {
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
  }

  .anonymization-col {
    width: 16rem;
  }

  .generated-files {
    li {
      margin-bottom: 0.25rem;
    }
  }
}
