<!-- Author: Eryk Kulikowski @ KU Leuven (2024). Apache 2.0 License -->
<div class="tt-cell">
  <app-tree-toggler
    [node]="node()"
    [level]="level()"
    (toggle)="toggle.emit()"
  ></app-tree-toggler
  >{{ datafile().name }}
</div>
<div class="tt-cell text-end">
  <div [hidden]="!datafile().attributes?.isFile">
    <div class="d-flex align-items-center justify-content-end gap-2">
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-label="loading"
        [hidden]="!spinning()"
      ></span>
      <app-select
        class="flex-grow-1"
        [options]="queues()"
        [filter]="true"
        [ngModel]="queue()"
        (ngModelChange)="queue.set($event)"
        placeholder="Select queue"
        (valueChange)="onSelectQueue()"
      ></app-select>
      <button
        class="btn btn-primary"
        style="height: 3rem"
        type="button"
        [disabled]="!computeEnabled()"
        (click)="compute()"
      >
        <i [class]="icon_play"></i> Run on
      </button>
    </div>
  </div>
</div>
