<!-- Author: Eryk Kulikowski @ KU Leuven (2023). Apache 2.0 License -->
<div class="tt-cell">
  <app-tree-toggler
    [node]="node()"
    [level]="level()"
    (toggle)="toggle.emit()"
  ></app-tree-toggler
  >{{ sourceFile() }}
</div>
<div class="tt-cell text-center">
  <i
    [class]="comparisonIcon()"
    [style]="'color:' + comparisonColor()"
    [title]="comparisonTitle()"
  ></i>
</div>
<div class="tt-cell text-center">
  <button
    type="button"
    class="btn btn-sm btn-outline-secondary"
    (click)="toggleAction()"
  >
    <i [class]="actionIcon()"></i>
  </button>
</div>
<div [class]="'tt-cell ' + targetFileClass()">
  <app-tree-toggler
    [node]="node()"
    [level]="level()"
    (toggle)="toggle.emit()"
  ></app-tree-toggler
  >{{ targetFile() }}
</div>
