<!-- Author: Eryk Kulikowski @ KU Leuven (2023). Apache 2.0 License -->
<td>
  <p-treeTableToggler [rowNode]="rowNode()"></p-treeTableToggler
  >{{ sourceFile() }}
</td>
<td class="compact-col" style="text-align: center">
  <i
    [class]="comparisonIcon()"
    [style]="'color:' + comparisonColor()"
    [title]="comparisonTitle()"
  ></i>
</td>
<td class="compact-col" style="text-align: center">
  <button
    pButton
    label=""
    type="button"
    class="p-button-sm p-button-outlined p-button-secondary"
    (click)="toggleAction()"
  >
    <i [class]="actionIcon()"></i>
  </button>
</td>
<td [class]="targetFileClass()">
  <p-treeTableToggler [rowNode]="rowNode()"></p-treeTableToggler
  >{{ targetFile() }}
</td>
