<!-- Author: Eryk Kulikowski @ KU Leuven (2024). Apache 2.0 License -->
<div class="row justify-content-between sticky-menu">
  <span class="col-auto">
    <button
      style="height: 3rem"
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="back()"
    >
      <i class="pi pi-angle-double-left"></i>Home
    </button>
  </span>
  @if (configLoaded() && showDVToken()) {
    <span class="col-auto">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" style="height: 3rem"
            >Token:&nbsp;</span
          >
        </div>
        <input
          type="password"
          class="form-control"
          id="dataverseToken"
          placeholder="Dataverse API token"
          [ngModel]="dataverseToken()"
          (ngModelChange)="dataverseToken.set($event)"
          #ctrl="ngModel"
          (onChange)="onUserChange()"
        />
      </div>
    </span>
  }
  <span
    class="col-auto"
    style="width: 30rem; position: relative; top: 0.275rem"
  >
    <div class="w-100">
      <label class="form-label" for="datasetId">Select Dataset</label>
      <app-select
        class="w-100"
        [editable]="datasetFieldEditable()"
        inputId="datasetId"
        [options]="doiItems()"
        [filter]="true"
        (filterChange)="onDatasetSearch($event)"
        [ngModel]="datasetId()"
        (ngModelChange)="datasetId.set($event)"
        (opened)="getDoiOptions()"
        (valueChange)="onDatasetChange()"
      ></app-select>
    </div>
  </span>
</div>

<br />
<app-dialog
  header="Compute"
  position="topright"
  [visible]="popup()"
  (visibleChange)="popup.set($event)"
>
  <p class="m-0">
    Click on "OK" to start the computation. You can close the window and the
    computation will continue.
  </p>
  @if (configLoaded() && sendMails()) {
    <p class="m-0">
      You will receive an email to notify you if the computation has been
      unsuccessful.
    </p>
  }
  <br /><br />
  <div style="text-align: right">
    @if (configLoaded() && sendMails()) {
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="sendEmailOnSuccessCB"
          [ngModel]="sendEmailOnSuccess()"
          (ngModelChange)="sendEmailOnSuccess.set($event)"
        />
        <label class="form-check-label" for="sendEmailOnSuccessCB"
          >Email me when the computation is completed</label
        >
      </div>
    }
  </div>
  <div appDialogFooter>
    <button
      type="button"
      class="btn btn-sm btn-primary"
      (click)="continueSubmit()"
    >
      OK
    </button>
  </div>
</app-dialog>
<div class="compute-split">
  <div class="compute-split-left">
    <div class="compute-table">
      <app-tree-table
        #tt
        [nodes]="rootNodeChildren()"
        [loading]="loading()"
        [virtual]="false"
        [rowHeight]="56"
        columns="1fr 24rem"
      >
        <ng-template appTreeTableHeader>
          <div class="tt-cell">
            <a [href]="data()!.url" target="_blank">{{ data()!.id }}</a>
          </div>
          <div class="tt-cell text-end">
            <span title="Action">Compute</span>
          </div>
        </ng-template>
        <ng-template appTreeTableRow let-node let-level="level">
          <div
            app-executablefile
            class="tt-row"
            role="row"
            [datafile]="node.data"
            [node]="node"
            [level]="level"
            [loading]="loading()"
            [rowNodeMap]="rowNodeMap()"
            [pid]="datasetId()"
            [dv_token]="dataverseToken()"
            (toggle)="tt.toggle(node)"
            (computeClicked)="submitCompute($event)"
          ></div>
        </ng-template>
      </app-tree-table>
    </div>
  </div>
  <div class="compute-split-right">
    <div [style.width]="'100%'" [style.margin]="'0.2rem'">
      <textarea
        [disabled]="outputDisabled()"
        autosize
        [minRows]="15"
        [maxRows]="15"
        [value]="output()"
        [placeholder]="output() ? '' : 'Console output...'"
        style="font-family: monospace"
      ></textarea>
    </div>
  </div>
</div>
