.console-output {
  background-color: var(--p-form-field-background);
  color: var(--p-form-field-color);
  border: 1px solid var(--p-form-field-border-color);
  border-radius: var(--p-border-radius);
  padding: 0.75rem;
  font-family: monospace;
  resize: horizontal;
  overflow: hidden;
  width: 100%;

  &:focus {
    outline: none;
    border-color: var(--p-form-field-focus-border-color);
  }

  &:disabled {
    background-color: var(--p-form-field-disabled-background);
    color: var(--p-form-field-disabled-color);
    cursor: not-allowed;
  }
}

.compute-split {
  display: flex;
  gap: 1rem;
  max-height: calc(100vh - 14rem);
  overflow: hidden;
}

.compute-split-left,
.compute-split-right {
  flex: 1 1 50%;
  min-width: 0;
}

.compute-split-left {
  display: flex;
  flex-direction: column;
}
