<!-- Author: Eryk Kulikowski @ KU Leuven (2023). Apache 2.0 License -->
<div class="row justify-content-between align-items-center sticky-menu">
  <div class="col-auto">
    <button
      pButton
      type="button"
      class="p-button-sm p-button-raised p-button-secondary"
      (click)="back()"
      [attr.disabled]="transferStarted ? '' : null"
    >
      <i class="pi pi-angle-double-left"></i>&nbsp;Return
    </button>
  </div>
  <div class="col text-center">
    <h2 class="page-title m-0">
      {{ transferStarted ? "Transfer status" : "Transfer preview" }}
    </h2>
  </div>
  <div class="col-auto">
    <button
      pButton
      type="button"
      [hidden]="!done || !hasAccessToCompute"
      class="p-button-sm p-button-raised p-button-secondary"
      (click)="goToCompute()"
      title="Go to compute"
    >
      Compute&nbsp;<i class="pi pi-angle-double-right"></i>
    </button>
    <button
      pButton
      type="button"
      [attr.hidden]="done ? null : ''"
      class="p-button-sm p-button-raised"
      [ngClass]="done ? 'p-button-primary' : 'p-button-secondary'"
      (click)="goToDataset()"
      title="Go to RDR to see the resulting dataset"
    >
      Go to dataset&nbsp;<i class="pi pi-angle-double-right"></i>
    </button>
    <button
      pButton
      type="button"
      [attr.hidden]="done ? '' : null"
      class="p-button-sm p-button-raised p-button-primary"
      (click)="submit()"
      title="Initiate selected changes"
      [attr.disabled]="disabled ? '' : null"
    >
      Start transfer&nbsp;<i class="pi pi-angle-double-right"></i>
    </button>
  </div>
</div>

<br />

@if (transferStarted) {
  <app-transfer-progress-card
    [isGlobus]="isGlobus()"
    [taskId]="transferTaskId"
    [monitorUrl]="transferMonitorUrl"
    [submitting]="transferInProgress && !transferTaskId"
    (pollingChange)="onStatusPollingChange($event)"
    [data]="data"
    [dataUpdate]="onDataUpdate.bind(this)"
    (completed)="done = true"
  ></app-transfer-progress-card>
}

<h4 class="safety-warning">
  <i [class]="icon_warning"></i> Make sure not to openly publish sensitive
  information, copyrighted materials or third-party libraries.
</h4>
<p-dialog
  header="Submit"
  position="topright"
  [modal]="true"
  [(visible)]="popup"
>
  <p class="m-0">
    Click on "OK" to start the update/transfer. You can close the window and the
    transfer will continue.
  </p>
  <p class="m-0" [hidden]="!sendMails() || isGlobus()">
    You will receive an email to notify you if the update/transfer has been
    unsuccessful.
  </p>
  <p class="m-0" [hidden]="!isGlobus()">
    Globus transfers run asynchronously; email on success may not be available
    for this source.
  </p>
  <br /><br />
  <div style="text-align: right">
    <div class="field-checkbox" [hidden]="!sendMails() || isGlobus()">
      <p-checkbox
        [(ngModel)]="sendEmailOnSuccess"
        [binary]="true"
        inputId="sendEmailOnSuccessCB"
      ></p-checkbox>
      <label for="sendEmailOnSuccesCB"
        >Email me when the update/transfer is completed</label
      >
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      (click)="continueSubmit()"
      styleClass="p-button-sm p-button-raised p-button-primary"
      >OK</p-button
    >
  </ng-template>
</p-dialog>

<table class="table table-theme-adaptive">
  <tbody>
    <tr class="file-list-header">
      <th><i [class]="icon_copy"></i> Files that will be created</th>
    </tr>
    <tr>
      <td class="inner-table-cell">
        <table class="table table-theme-adaptive">
          <tbody>
            @for (datafile of created; track datafile) {
              <tr
                app-submitted-file
                #submittedRow="appSubmittedFile"
                [datafile]="datafile"
                [isSubmitted]="submitted"
                [style]="submittedRow.getStyle()"
              ></tr>
            }
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="file-list-header">
      <th><i [class]="icon_update"></i> Files that will be updated</th>
    </tr>
    <tr>
      <td class="inner-table-cell">
        <table class="table table-theme-adaptive">
          <tbody>
            @for (datafile of updated; track datafile) {
              <tr
                app-submitted-file
                #submittedRow="appSubmittedFile"
                [datafile]="datafile"
                [isSubmitted]="submitted"
                [style]="submittedRow.getStyle()"
              ></tr>
            }
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="file-list-header">
      <th><i [class]="icon_delete"></i> Files that will be deleted</th>
    </tr>
    <tr>
      <td class="inner-table-cell">
        <table class="table table-theme-adaptive">
          <tbody>
            @for (datafile of deleted; track datafile) {
              <tr
                app-submitted-file
                #submittedRow="appSubmittedFile"
                [datafile]="datafile"
                [isSubmitted]="submitted"
                [style]="submittedRow.getStyle()"
              ></tr>
            }
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
