<!-- Author: Eryk Kulikowski @ KU Leuven (2023). Apache 2.0 License -->
<div class="row justify-content-between sticky-menu">
  <span class="col-auto">
    <button pButton pRipple type="button" class="p-button-sm p-button-raised p-button-secondary" (click)="back()"><i class="pi pi-angle-double-left"></i>&nbsp;Return</button>
  </span>

  <span class="col-auto">
    <button pButton pRipple type="button" [attr.hidden]="done ? null : ''" class="p-button-sm p-button-raised p-button-secondary" (click)="goToDataset()" title="Go to RDR to see the resulting dataset">Go to dataset&nbsp;<i class="pi pi-angle-double-right"></i></button>
    <button pButton pRipple type="button" [attr.hidden]="done ? '' : null" class="p-button-sm p-button-raised p-button-secondary" (click)="submit()" title="Initiate selected changes" [attr.disabled]="disabled ? '' : null">Submit&nbsp;<i class="pi pi-angle-double-right"></i></button>
  </span>
</div>

<br/>

<h4 style="margin: 3rem; text-align: center;"><i [class]="icon_warning" style="color:red"></i> Make sure not to openly publish sensitive information, copyrighted materials or third-party libraries.</h4>

<table class="table">
  <tbody>
    <tr>
      <h5><i [class]="icon_copy"></i> Files that will be created</h5>
      <hr>
    </tr>
    <tr>
      <table class="table">
        <tbody>
          <tr app-submitted-file *ngFor="let datafile of created" [datafile]="datafile" [isSubmitted]="submitted"></tr>
        </tbody>
      </table>
    </tr>
    <tr>
      <h5><i [class]="icon_update"></i> Files that will be updated</h5>
      <hr>
    </tr>
    <tr>
      <table class="table">
        <tbody>
          <tr app-submitted-file *ngFor="let datafile of updated" [datafile]="datafile" [isSubmitted]="submitted"></tr>
        </tbody>
      </table>
    </tr>
    <tr>
      <h5><i [class]="icon_delete"></i> Files that will be deleted</h5>
      <hr>
    </tr>
    <tr>
      <table class="table">
        <tbody>
          <tr app-submitted-file *ngFor="let datafile of deleted" [datafile]="datafile" [isSubmitted]="submitted"></tr>
        </tbody>
      </table>
    </tr>
  </tbody>
</table>
